body
{
    background-image: url(images/fon.jpg);
    margin: 0px;
}
#k1{
    margin-top: 10px;
    color:white;
    font-size: 36px;
    border: 5px solid #424bf4;
 padding-left: 275px;   
}
#k2{
    color:darkgray;
    
    
}
#k3
{
    margin-top: 50px;
    font-size: 30px;
}
#k4
{
    margin-top: 50px;
        
}
.wrapper
{
    width: 100%;
    background-color: #dfddf1;
 
}

#k6
{
    color:white;
    font-size: 36px;
    border: 5px solid #424bf4;
 padding-left: 550px;   
}
.buttons
{
border: 2px solid #323232;
display: inline-block;
font-family: tahoma;
font-size: 20px;
padding: 15px 25px;
color: #fff;
background-color: #1abc9c;
margin:10px;
border-radius: 15px;
float: right;
    text-decoration: none;
}

#k5
{
    color: white;
    font-size: 24px;

}
#k7
{
    color: white;
    font-size: 24px;
        
}
#k8
{
    color: white;
    font-size: 24px;

}
#k9
{
    padding-left: 250px;
    margin: 10px;
}
#k11
{
    padding-top: 100px;
    padding-left: 50px;
    color: white;
    font-size: 22px;
}
#k10
{
     color:white;
    font-size: 36px;
    border: 5px solid #424bf4;
 padding-left: 575px;   
}
#map
{
    width: 600px;
    height: 600px;
}
#k12
{
    padding-top: 0px;
    border: 8;
}
.tab1
{
    color: white;
    font-size: 20px;
}
.tab2
{
    color: white;
    font-size: 20px;
}
.tab3
{
    color: white;
    font-size: 20px;
}
#k13
{
     padding-left: 25px;
    padding-right: 50px;

}
#k14
{
    margin-right: 200px;
    padding-left: 25px;
    padding-right: 50px;
}
#k15
{
    color:white;
    font-size: 36px;
 padding-left: 750px; 
    margin: 10px;
}